-#%div{:style => 'margin-top:10px;'}
-#  %ul.nav.nav-pills
-#    %li.active
-#      = link_to 'iOS', '#'
-#    %li
-#      = link_to 'Android','#'

%h3
  Apps : iOS
= render 'app_table', :app_names => @ios_app_names, :platform => 'ios' if !@ios_app_names.nil?

%h3
  Apps : Android
= render 'app_table', :app_names => @android_app_names, :platform => 'android' if !@android_app_names.nil?

