%div{:"data-role" => 'page'}
  %div{:"data-role" => 'header'}
  %div{:"data-role" => 'content'}
    - @app_names.each do |app_name|
      %p=link_to(app_name, list_app_releases_path(app_name), :class => "ui-btn ui-btn-icon-right ui-icon-carat-r")
  %div{:"data-role" => 'footer'}