- @release_builds.each do |release_build|
  %p
    %a{:href => "itms-services://?action=download-manifest&url=#{show_build_manifest_url(@app_name, release_build, :format => :plist)}"}=release_build


    