%div{:"data-role" => 'page'}
  %div{:"data-role" => 'header', :"data-add-back-btn"=>'true'}
    %h1=@app_name
  %div{:"data-role" => 'content'}
    - @app_releases.each do |app_release|
      %div{:"data-role"=>"collapsible"}
        %h2="Release #{app_release}"
        %a.ui-btn.ui-btn-b.ui-btn-icon-right.ui-icon-carat-r{:href => "itms-services://?action=download-manifest&url=#{CGI.escape(show_build_manifest_url(@app_name, @most_recent_build_hash[app_release], :format => :plist))}"}="Install #{@most_recent_build_hash[app_release]}"
        =link_to("More Builds", list_app_builds_path(@app_name, app_release), :class => "ui-btn ui-mini ui-btn-icon-right ui-icon-carat-r")
      %p
  %div{:"data-role" => 'footer'}


