%div{:"data-role" => 'page'}
  %div{:"data-role" => 'header', :"data-add-back-btn"=>'true'}
    %h1=@app_release
  %div{:"data-role" => 'content'}
    - @release_builds.each do |release_build|
      %p
        %a.ui-btn.ui-btn-icon-right.ui-icon-carat-r{:href => "itms-services://?action=download-manifest&url=#{CGI.escape(show_build_manifest_url(@app_name, release_build, :format => :plist))}"}=release_build
  %div{:"data-role" => 'footer'}
    %h2=link_to('Home',root_path, :class=>"ui-btn")






    