%h3
  = 'Apps : iOS : ' + @app_name + " : Releases"

%table.table.table-striped.table-condensed
  %thead
    %th
      Release Version
  %tbody
    - @app_releases.each do |app_release|
      %tr
        %td
          = link_to app_release, list_ios_app_builds_path(params['app_name'], app_release)
        %td{:style => 'text-align:right;'}
          - if @mobileprovision.nil?
            = link_to 'Install mobileprovision certificate', '#', :class => 'btn btn-mini btn-primary'
          - else
            = link_to 'Download mobileprovision certificate', '#', :class => 'btn btn-mini'