!!!
%html
%head
  %title
    Shipmate - Apps Listing

  = stylesheet_link_tag    'mobile'
  = javascript_include_tag 'mobile'

  = csrf_meta_tags
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

  %body
    = yield
